<!doctype html>                                   
<html lang="en">
	
<head>
    <meta charset="utf-8">
    <title>Zadanie - Oskar Balint</title>
    <!-- http://jqueryui.com/tabs/#mouseover -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
    <link rel="stylesheet" href="static/jquery-ui.min.css">
    <script src="static/libs/plotly-latest.min.js"></script>
    <script src="static/libs/gauge.min.js"></script>
    <script src="static/jquery-3.2.1.min.js"></script>
    <script src="static/jquery-ui.min.js"></script>
    
    <style>
    body { font-family: Arial, sans-serif; margin: 20px; }
    #tabs { width: 650px; }
    .tab-content { margin-top: 20px; }
    </style>
	
    <script>
    let socket;
    let x = [], y = [];

    $(function() {
      $("#tabs").tabs({
        event: "mouseover",
        activate: function(event, ui) {
          const active = ui.newPanel.attr('id');
          console.log("Switched to tab: " + active);
        }
      });

      // Inicializácia Socket.IO
      socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + '/test');

      socket.on('connect', function () {
        socket.emit('my_event', { data: "I'm connected!", value: 1 });
      });
      socket.on('my_response', function(msg) {        
	//console.log(msg.data);     
	if(msg.data2 === undefined){
	$('#log').append('Received #'+msg.count+': '+msg.data+'<br>').html(); 
		}else{
		$('#log').append('Received #'+msg.count+': '+msg.data+', '+msg.data2+','+msg.data3+'<br>').html(); 
	}
	gauge.value = msg.data2;
	gauge2.value = msg.data3;
	gauge.draw();
	gauge2.draw();
	
	// Plotly graf
	x.push(msg.count);
	y.push(msg.data2);
	const trace = { x: x, y: y };
	Plotly.newPlot('plotdiv', [trace], {
	  title: 'Sine Wave Plot',
	  xaxis: { title: 'Count',
		   range: [msg.count - 100, msg.count] },
	  yaxis: { title: 'Lux' },
	  range: [0, 100]
	});
	
	}); 

      // Gauge luxmeter
      const gauge = new RadialGauge({
        renderTo: 'gaugeCanvas',
        width: 300,
        height: 300,
        units: "Lux",
        minValue: 0,
        maxValue: 6000,
        majorTicks: ["0","500","1000","1500","2000",
					"2500","3000","3500","4000",
					"4500","5000","5500","6000"],
        minorTicks: 2,
        strokeTicks: true,
        highlights: [{ from: 0, to: 250, color: "rgba(200, 50, 50, .75)" },{ from: 1500, to: 6000, color: "rgba(200, 50, 50, .75)" }],
        colorPlate: "#fff",
        borderShadowWidth: 0,
        borders: false,
        needleType: "arrow",
        needleWidth: 4,
        needleCircleSize: 7,
        animationDuration: 500,
        animationRule: "linear"
      }).draw();
      
      // Gauge uhol zaclon
        const gauge2 = new RadialGauge({
        renderTo: 'gaugeCanvas2',
        width: 300,
        height: 300,
        units: "Angle",
        minValue: 0,
        maxValue: 90,
        majorTicks: ["0","10","20","30","40",
					"50","60","70","80","90"],
        minorTicks: 2,
        strokeTicks: true,
        highlights: [{ from: 0, to: 10, color: "rgba(11, 150, 50, .75)" },{ from: 80, to: 90, color: "rgba(11, 150, 50, .75)" }],
        colorPlate: "#fff",
        borderShadowWidth: 0,
        borders: false,
        needleType: "arrow",
        needleWidth: 4,
        needleCircleSize: 7,
        animationDuration: 500,
        animationRule: "linear"
      }).draw();
	
	/*	
	  socket.on('my_response', function (msg) {
		  
		const count = msg.count;
		const value = parseFloat(msg.data);

		// Textový výpis
		$('#logText').append('Received #' + count + ': ' + value + '<br>');

		// Plotly graf
		x.push(count);
		y.push(value);
		const trace = { x: x, y: y };
		Plotly.newPlot('plotdiv', [trace], {
		  title: 'Sine Wave Plot',
		  xaxis: { title: 'Count' },
		  yaxis: { title: 'Value' }
		});

		// Gauge
		//gauge.value = 1000;
		//gauge2.value = Math.abs(45);
		//gauge.draw();
		//gauge2.draw();
		
	  });*/



	$('form#emit').submit(function(event) {
		socket.emit('my_event', {value: $('#emit_value').val()});
		return false; });

	
	$('#openSystem').click(function(event) {
		console.log('Initializing system...');
		socket.emit('open_system', {value: 'open'});
		return false;
	}); 
	
	$('#sendData').click(function(event) {
		console.log('Sending data');
		socket.emit('send_data', {value: 'start_sending'});
		return false;
	});

	$('#stopData').click(function(event) {
		console.log('Stopping data');
		socket.emit('stop_data', {value: 'stop_sending'});
		return false;
	});
      
	$('#clearLog').click(function(event) {
		$('#log').html('');
	});      
      
	$('#disconnectForm').submit(function (e) {
		e.preventDefault();
		socket.emit('disconnect_request');
	});      
      
      
      
      
	});
	 </script>
	
</head>
	   
	   
<body>
	
	<h1>Regulacia priepustnosti svetla - Oskar Balint</h1>
<!--
	<form id="disconnectForm">
		<input type="submit" value="Disconnect">
	</form>
-->
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">Live Data</a></li>
			<li><a href="#tabs-2">Database entries</a></li>
			<li><a href="#tabs-3">Files</a></li>
		</ul>

		<div id="tabs-1" class="tab-content">
			
			<h2>Monitorovanie a vypisovanie hodnot</h2>
			<!-- Sem obsah 
			<div id="logText"></div>-->
			<canvas id="gaugeCanvas"></canvas>
			<canvas id="gaugeCanvas2"></canvas>
			
			<button id="openSystem" type="submit" value="open">Otvorenie komunikacie</button> <!-- tlacitko na otvorenie komunikacie -->

			<button id="sendData" type="submit" value="Start">Spustenie zobrazovania</button>

			<button id="stopData" type="submit" value="Stop">Zastavenie zobrazovania</button>

			<button id="clearLog" type="submit" value="reset">Vycistenie riadkov</button> <!-- tlacitko na vymazanie zobrazenych dat -->
			  

			<div id="plotdiv" style="width: 630px; height: 300px;"></div>
			
					 
			<h2>Receive:</h2>
			<div id="log"></div>
		</div>

		<div id="tabs-2" class="tab-content">
			
			<h2>Vypisovanie hodnot z databazy</h2>
			<!-- Sem obsah 
			<div id="plotdiv" style="width: 100%; height: 400px;"></div>-->
			
		</div>

		<div id="tabs-3" class="tab-content">
			
			<h2>Vypisovanie hodnot zo suboru</h2>
			<!-- Sem obsah -->
			
		</div>
	</div>
	
</body>
    
    
